<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <add key="IncomingPath" value="\\192.168.1.232\f$\NEWDATA\1_Udate\Migrating state content to Fastcase XML\FCConversionIncoming\01-07-2023\Colorado Bar Journal\Colorado Lawyer"/>
        <!--<add key="OutputPath" value="\\192.168.1.95\f$\NEWDATA\1_Udate\FCConversionOutgoing\Secondary\"/>
        <add key="ErrorLogPath" value="\\192.168.1.95\f$\NEWDATA\1_Udate\FCConversionOutgoing\ErrorLogs\"/>-->
        <add key="OutputPath" value="\\192.168.1.232\f$\NEWDATA\1_Udate\Migrating state content to Fastcase XML\FCConversionOutgoing\2023-02-03"/>
        <add key="ErrorLogPath" value="\\192.168.1.232\f$\NEWDATA\1_Udate\Migrating state content to Fastcase XML\FCConversionOutgoing\ErrorLogs"/>
        <add key="ProductionCourt" value="S.D. N.Y.,9th Cir.,N.J. Super. App. Div.,Bankr. M.D. Fla.,Bankr. N.D. Fla.,Bankr. S.D. Fla.,Bankr. C.D. Ill.,Bankr. N.D. Ill.,Bankr. S.D. Ill.,Bankr. C.D. Cal.,Bankr. E.D. Cal.,Bankr. N.D. Cal.,Bankr. S.D. Cal.,Bankr. N.D. Ohio,Bankr. S.D. Ohio"/>
        <add key="ProductionState" value="Florida,Illinois,California,Ohio"/>
        
      </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.84;Password=universal801;User ID=sa;Initial Catalog=CasemakerData" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
